<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{date}}</h1>
    <p>{{> header}}</p>
    <p>{{name}}</p>

  </body>
</html>
